<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidi.crm.system.mapper.DictMapper">
  <resultMap id="BaseResultMap" type="com.zhidi.crm.system.entity.Dict">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DICTCODE" jdbcType="VARCHAR" property="dictcode" />
    <result column="DICTNAME" jdbcType="VARCHAR" property="dictname" />
    <result column="DICTNOTE" jdbcType="VARCHAR" property="dictnote" />
    <result column="DICTVALUE" jdbcType="VARCHAR" property="dictvalue" />
    <result column="TYPEID" jdbcType="VARCHAR" property="typeid" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DICTCODE, DICTNAME, DICTNOTE, DICTVALUE, TYPEID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_SYSTEM_DICT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_SYSTEM_DICT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.crm.system.entity.Dict">
  <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_SYSTEM_DICT (ID, DICTCODE, DICTNAME, 
      DICTNOTE, DICTVALUE, TYPEID
      )
    values (#{id,jdbcType=VARCHAR}, #{dictcode,jdbcType=VARCHAR}, #{dictname,jdbcType=VARCHAR}, 
      #{dictnote,jdbcType=VARCHAR}, #{dictvalue,jdbcType=VARCHAR}, #{typeid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.crm.system.entity.Dict">
  <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_SYSTEM_DICT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="dictcode != null">
        DICTCODE,
      </if>
      <if test="dictname != null">
        DICTNAME,
      </if>
      <if test="dictnote != null">
        DICTNOTE,
      </if>
      <if test="dictvalue != null">
        DICTVALUE,
      </if>
      <if test="typeid != null">
        TYPEID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dictcode != null">
        #{dictcode,jdbcType=VARCHAR},
      </if>
      <if test="dictname != null">
        #{dictname,jdbcType=VARCHAR},
      </if>
      <if test="dictnote != null">
        #{dictnote,jdbcType=VARCHAR},
      </if>
      <if test="dictvalue != null">
        #{dictvalue,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.crm.system.entity.Dict">
    update TB_SYSTEM_DICT
    <set>
      <if test="dictcode != null">
        DICTCODE = #{dictcode,jdbcType=VARCHAR},
      </if>
      <if test="dictname != null">
        DICTNAME = #{dictname,jdbcType=VARCHAR},
      </if>
      <if test="dictnote != null">
        DICTNOTE = #{dictnote,jdbcType=VARCHAR},
      </if>
      <if test="dictvalue != null">
        DICTVALUE = #{dictvalue,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null">
        TYPEID = #{typeid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.crm.system.entity.Dict">
    update TB_SYSTEM_DICT
    set DICTCODE = #{dictcode,jdbcType=VARCHAR},
      DICTNAME = #{dictname,jdbcType=VARCHAR},
      DICTNOTE = #{dictnote,jdbcType=VARCHAR},
      DICTVALUE = #{dictvalue,jdbcType=VARCHAR},
      TYPEID = #{typeid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="findDict" type="com.zhidi.crm.system.entity.Dict">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DICTCODE" jdbcType="VARCHAR" property="dictcode" />
    <result column="DICTNAME" jdbcType="VARCHAR" property="dictname" />
    <result column="DICTNOTE" jdbcType="VARCHAR" property="dictnote" />
    <result column="DICTVALUE" jdbcType="VARCHAR" property="dictvalue" />
    <result column="typename" jdbcType="VARCHAR" property="typeid" />
  </resultMap>
  <select id="getCount" resultType="integer">
  	select 
  		count(1)
  	from 
		TB_SYSTEM_DICT tsd
	left join
		TB_SYSTEM_DICT_TYPE tsdt
	on tsd.TYPEID = tsdt.id
	<where>
		<if test="dictTypeId != 'ACEAF0031E2C4F92B16EAB5F5D923DE7'">
	 		tsdt.id = #{dictTypeId}
		</if>
	</where>
  </select>
  <select id="findByDictTypeId" resultMap="findDict">
      select
      tsd.id,
      tsd.dictname,
      tsd.dictcode,
      tsd.dictvalue,
      tsd.dictnote,
      tsdt.typename
      from
      TB_SYSTEM_DICT tsd
      left join
      TB_SYSTEM_DICT_TYPE tsdt
      on tsd.TYPEID = tsdt.id
      <where>
          <if test="dictTypeId != 'ACEAF0031E2C4F92B16EAB5F5D923DE7'">
              tsdt.id = #{dictTypeId}
          </if>
      </where>
      limit #{pager.limits},#{pager.rows}
  </select>
  <update id="updateByTypeId">
  	update 
  		TB_SYSTEM_DICT
  	set 
  		typeid = null
  	where
  		typeid = #{typeId}
  </update>
  <delete id="deleteDict">
  	delete from
  		TB_SYSTEM_DICT
  	where 
  		id in 
  		<foreach collection="ids" item="id" open="(" close=")" separator=",">
  		 #{id}
  		</foreach>
  </delete>
</mapper>