<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidi.crm.system.mapper.DictTypeMapper">
  <resultMap id="BaseResultMap" type="com.zhidi.crm.system.entity.DictType">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="SORTNUM" jdbcType="DECIMAL" property="sortnum" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="TYPECODE" jdbcType="VARCHAR" property="typecode" />
    <result column="TYPENAME" jdbcType="VARCHAR" property="typename" />
    <result column="TYPENOTE" jdbcType="VARCHAR" property="typenote" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="VERSION" jdbcType="DECIMAL" property="version" />
    <result column="CREATEBY" jdbcType="VARCHAR" property="createby" />
    <result column="UPDATEBY" jdbcType="VARCHAR" property="updateby" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREATETIME, SORTNUM, STATUS, TYPECODE, TYPENAME, TYPENOTE, UPDATETIME, VERSION, 
    CREATEBY, UPDATEBY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_SYSTEM_DICT_TYPE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByName" resultMap="BaseResultMap">
  	select 
    	<include refid="Base_Column_List" />
    from TB_SYSTEM_DICT_TYPE 
    where
    typename = #{typename,jdbcType=VARCHAR}
  </select>
  <select id="selectByCode" resultMap="BaseResultMap">
  	select 
    	<include refid="Base_Column_List" />
    from TB_SYSTEM_DICT_TYPE
    where
    typecode = #{typecode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_SYSTEM_DICT_TYPE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.crm.system.entity.DictType">
  <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_SYSTEM_DICT_TYPE (ID, CREATETIME, SORTNUM, 
      STATUS, TYPECODE, TYPENAME, 
      TYPENOTE, UPDATETIME, VERSION, 
      CREATEBY, UPDATEBY)
    values (#{id,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{sortnum,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{typecode,jdbcType=VARCHAR}, #{typename,jdbcType=VARCHAR}, 
      #{typenote,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{version,jdbcType=DECIMAL}, 
      #{createby,jdbcType=VARCHAR}, #{updateby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.crm.system.entity.DictType">
  <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_SYSTEM_DICT_TYPE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="sortnum != null">
        SORTNUM,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="typecode != null">
        TYPECODE,
      </if>
      <if test="typename != null">
        TYPENAME,
      </if>
      <if test="typenote != null">
        TYPENOTE,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="createby != null">
        CREATEBY,
      </if>
      <if test="updateby != null">
        UPDATEBY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sortnum != null">
        #{sortnum,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="typecode != null">
        #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="typename != null">
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typenote != null">
        #{typenote,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.crm.system.entity.DictType">
    update TB_SYSTEM_DICT_TYPE
    <set>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sortnum != null">
        SORTNUM = #{sortnum,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="typecode != null">
        TYPECODE = #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="typename != null">
        TYPENAME = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typenote != null">
        TYPENOTE = #{typenote,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="createby != null">
        CREATEBY = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updateby != null">
        UPDATEBY = #{updateby,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.crm.system.entity.DictType">
    update TB_SYSTEM_DICT_TYPE
    set CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      SORTNUM = #{sortnum,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      TYPECODE = #{typecode,jdbcType=VARCHAR},
      TYPENAME = #{typename,jdbcType=VARCHAR},
      TYPENOTE = #{typenote,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL},
      CREATEBY = #{createby,jdbcType=VARCHAR},
      UPDATEBY = #{updateby,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="queryfindAll" resultMap="BaseResultMap">
  	select 
    	<include refid="Base_Column_List" />
    from 
    	TB_SYSTEM_DICT_TYPE
  </select>
</mapper>