<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidi.crm.system.mapper.LoginHistoryMapper">
  <resultMap id="BaseResultMap" type="com.zhidi.crm.system.entity.LoginHistory">
    <id column="LOGINID" jdbcType="VARCHAR" property="loginid" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="LOGINTIME" jdbcType="TIMESTAMP" property="logintime" />
    <result column="LOGINIP" jdbcType="VARCHAR" property="loginip" />
    <result column="LOGINSTATUS" jdbcType="VARCHAR" property="loginstatus" />
  </resultMap>
  <sql id="Base_Column_List">
    LOGINID, USERID, LOGINTIME, LOGINIP, LOGINSTATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_CRM_LOGIN_HISTORY
    where LOGINID = #{loginid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_CRM_LOGIN_HISTORY
    where LOGINID = #{loginid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.crm.system.entity.LoginHistory">
  <selectKey keyProperty="loginid" resultType="java.lang.String" order="BEFORE">
    select replace(uuid(),'-','') uuid from dual
  </selectKey>
    insert into TB_CRM_LOGIN_HISTORY (LOGINID, USERID, LOGINTIME, 
      LOGINIP, LOGINSTATUS)
    values (#{loginid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{logintime,jdbcType=TIMESTAMP}, 
      #{loginip,jdbcType=VARCHAR}, #{loginstatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.crm.system.entity.LoginHistory">
  <selectKey keyProperty="loginid" resultType="java.lang.String" order="BEFORE">
    select replace(uuid(),'-','') uuid from dual
  </selectKey>
    insert into TB_CRM_LOGIN_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loginid != null">
        LOGINID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="logintime != null">
        LOGINTIME,
      </if>
      <if test="loginip != null">
        LOGINIP,
      </if>
      <if test="loginstatus != null">
        LOGINSTATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loginid != null">
        #{loginid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null">
        #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginip != null">
        #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="loginstatus != null">
        #{loginstatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.crm.system.entity.LoginHistory">
    update TB_CRM_LOGIN_HISTORY
    <set>
      <if test="userid != null">
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null">
        LOGINTIME = #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginip != null">
        LOGINIP = #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="loginstatus != null">
        LOGINSTATUS = #{loginstatus,jdbcType=VARCHAR},
      </if>
    </set>
    where LOGINID = #{loginid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.crm.system.entity.LoginHistory">
    update TB_CRM_LOGIN_HISTORY
    set USERID = #{userid,jdbcType=VARCHAR},
      LOGINTIME = #{logintime,jdbcType=TIMESTAMP},
      LOGINIP = #{loginip,jdbcType=VARCHAR},
      LOGINSTATUS = #{loginstatus,jdbcType=VARCHAR}
    where LOGINID = #{loginid,jdbcType=VARCHAR}
  </update>
  <select id="selectByForeignKey" resultMap="BaseResultMap">
  	select 
    	LOGINIP 
    from 
	    (
	    select 
	        tclh.LOGINIP 
	    from 
	        TB_CRM_LOGIN_HISTORY tclh
	    where
	        userid= #{userid} 
	    order by tclh.LOGINTIME DESC
	    ) tclh
    limit 0,1
  </select>
  <select id="selectByUserid" resultType="integer">
  	select 
  	   count(1) 
  	from TB_CRM_LOGIN_HISTORY 
  	where userid=#{userid}
  </select>
</mapper>