<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidi.crm.manager.mapper.AnnouncementMapper">
  <resultMap id="BaseResultMap" type="com.zhidi.crm.manager.entity.Announcement">
    <id column="ANNOUNCEMENTID" jdbcType="VARCHAR" property="announcementid" />
    <result column="ORDERID" jdbcType="DECIMAL" property="orderid" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="COLOR" jdbcType="VARCHAR" property="color" />
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="ISSHOW" jdbcType="DECIMAL" property="isshow" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zhidi.crm.manager.entity.Announcement">
    <result column="CONTENT" jdbcType="CLOB" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    ANNOUNCEMENTID, ORDERID, USERID, TITLE, CREATETIME, UPDATETIME, COLOR, DEPARTMENT, 
    STATUS, ISSHOW
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from TB_CRM_ANNOUNCEMENT
    where ANNOUNCEMENTID = #{announcementid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_CRM_ANNOUNCEMENT
    where ANNOUNCEMENTID = #{announcementid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.crm.manager.entity.Announcement">
  <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_ANNOUNCEMENT (ANNOUNCEMENTID, ORDERID, USERID, 
      TITLE, CREATETIME, UPDATETIME, 
      COLOR, DEPARTMENT, STATUS, 
      ISSHOW, CONTENT)
    values (#{announcementid,jdbcType=VARCHAR}, #{orderid,jdbcType=DECIMAL}, #{userid,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{color,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{isshow,jdbcType=DECIMAL}, #{content,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.crm.manager.entity.Announcement">
  <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_ANNOUNCEMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="announcementid != null">
        ANNOUNCEMENTID,
      </if>
      <if test="orderid != null">
        ORDERID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="color != null">
        COLOR,
      </if>
      <if test="department != null">
        DEPARTMENT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="isshow != null">
        ISSHOW,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="announcementid != null">
        #{announcementid,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=DECIMAL},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="isshow != null">
        #{isshow,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        #{content,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.crm.manager.entity.Announcement">
    update TB_CRM_ANNOUNCEMENT
    <set>
      <if test="orderid != null">
        ORDERID = #{orderid,jdbcType=DECIMAL},
      </if>
      <if test="userid != null">
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="color != null">
        COLOR = #{color,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="isshow != null">
        ISSHOW = #{isshow,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=CLOB},
      </if>
    </set>
    where ANNOUNCEMENTID = #{announcementid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhidi.crm.manager.entity.Announcement">
    update TB_CRM_ANNOUNCEMENT
    set ORDERID = #{orderid,jdbcType=DECIMAL},
      USERID = #{userid,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      COLOR = #{color,jdbcType=VARCHAR},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      ISSHOW = #{isshow,jdbcType=DECIMAL},
      CONTENT = #{content,jdbcType=CLOB}
    where ANNOUNCEMENTID = #{announcementid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.crm.manager.entity.Announcement">
    update TB_CRM_ANNOUNCEMENT
    set ORDERID = #{orderid,jdbcType=DECIMAL},
      USERID = #{userid,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      COLOR = #{color,jdbcType=VARCHAR},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      ISSHOW = #{isshow,jdbcType=DECIMAL}
    where ANNOUNCEMENTID = #{announcementid,jdbcType=VARCHAR}
  </update>
</mapper>