<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidi.crm.manager.mapper.BusinessContractMapper">
  <resultMap id="BaseResultMap" type="com.zhidi.crm.manager.entity.BusinessContract">
    <result column="BUSINESSID" jdbcType="VARCHAR" property="businessid" />
    <result column="CONTRACTID" jdbcType="VARCHAR" property="contractid" />
  </resultMap>
  <insert id="insert" parameterType="com.zhidi.crm.manager.entity.BusinessContract">
  <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_R_BUSINESS_CONTRACT (BUSINESSID, CONTRACTID)
    values (#{businessid,jdbcType=VARCHAR}, #{contractid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.crm.manager.entity.BusinessContract">
  <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_R_BUSINESS_CONTRACT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="businessid != null">
        BUSINESSID,
      </if>
      <if test="contractid != null">
        CONTRACTID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="businessid != null">
        #{businessid,jdbcType=VARCHAR},
      </if>
      <if test="contractid != null">
        #{contractid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>