<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidi.crm.manager.mapper.EmailRecordMapper">
  <resultMap id="BaseResultMap" type="com.zhidi.crm.manager.entity.EmailRecord">
    <id column="EMAILRECORDID" jdbcType="VARCHAR" property="emailrecordid" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="TOADDR" jdbcType="VARCHAR" property="toaddr" />
    <result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
    <result column="SENDTIME" jdbcType="TIMESTAMP" property="sendtime" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zhidi.crm.manager.entity.EmailRecord">
    <result column="CONTENT" jdbcType="BLOB" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    EMAILRECORDID, USERID, TOADDR, SUBJECT, SENDTIME, STATUS
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from TB_CRM_EMAIL_RECORD
    where EMAILRECORDID = #{emailrecordid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_CRM_EMAIL_RECORD
    where EMAILRECORDID = #{emailrecordid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.crm.manager.entity.EmailRecord">
  <selectKey keyProperty="EMAILRECORDID" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_EMAIL_RECORD (EMAILRECORDID, USERID, TOADDR, 
      SUBJECT, SENDTIME, STATUS, 
      CONTENT)
    values (#{emailrecordid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{toaddr,jdbcType=VARCHAR}, 
      #{subject,jdbcType=VARCHAR}, #{sendtime,jdbcType=TIMESTAMP}, #{status,jdbcType=DECIMAL}, 
      #{content,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.crm.manager.entity.EmailRecord">
  <selectKey keyProperty="EMAILRECORDID" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_EMAIL_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="emailrecordid != null">
        EMAILRECORDID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="toaddr != null">
        TOADDR,
      </if>
      <if test="subject != null">
        SUBJECT,
      </if>
      <if test="sendtime != null">
        SENDTIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="emailrecordid != null">
        #{emailrecordid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="toaddr != null">
        #{toaddr,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        #{content,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.crm.manager.entity.EmailRecord">
    update TB_CRM_EMAIL_RECORD
    <set>
      <if test="userid != null">
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="toaddr != null">
        TOADDR = #{toaddr,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        SUBJECT = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        SENDTIME = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=BLOB},
      </if>
    </set>
    where EMAILRECORDID = #{emailrecordid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhidi.crm.manager.entity.EmailRecord">
    update TB_CRM_EMAIL_RECORD
    set USERID = #{userid,jdbcType=VARCHAR},
      TOADDR = #{toaddr,jdbcType=VARCHAR},
      SUBJECT = #{subject,jdbcType=VARCHAR},
      SENDTIME = #{sendtime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL},
      CONTENT = #{content,jdbcType=BLOB}
    where EMAILRECORDID = #{emailrecordid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.crm.manager.entity.EmailRecord">
    update TB_CRM_EMAIL_RECORD
    set USERID = #{userid,jdbcType=VARCHAR},
      TOADDR = #{toaddr,jdbcType=VARCHAR},
      SUBJECT = #{subject,jdbcType=VARCHAR},
      SENDTIME = #{sendtime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL}
    where EMAILRECORDID = #{emailrecordid,jdbcType=VARCHAR}
  </update>
</mapper>