<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidi.crm.manager.mapper.LeadsMapper">
  <resultMap id="BaseResultMap" type="com.zhidi.crm.manager.entity.Leads">
    <id column="LEADSID" jdbcType="VARCHAR" property="leadsid" />
    <result column="OWNERUSERID" jdbcType="VARCHAR" property="owneruserid" />
    <result column="CREATORUSERID" jdbcType="VARCHAR" property="creatoruserid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="POSITION" jdbcType="VARCHAR" property="position" />
    <result column="CONTACTSNAME" jdbcType="VARCHAR" property="contactsname" />
    <result column="SALTNAME" jdbcType="VARCHAR" property="saltname" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="ISDELETED" jdbcType="DECIMAL" property="isdeleted" />
    <result column="DELETEUSERID" jdbcType="VARCHAR" property="deleteuserid" />
    <result column="DELETETIME" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="ISTRANSFORMED" jdbcType="DECIMAL" property="istransformed" />
    <result column="TRANSFORMUSERID" jdbcType="VARCHAR" property="transformuserid" />
    <result column="CONTACTSID" jdbcType="VARCHAR" property="contactsid" />
    <result column="CUSTOMERID" jdbcType="VARCHAR" property="customerid" />
    <result column="BUSINESSID" jdbcType="VARCHAR" property="businessid" />
    <result column="NEXTSTEP" jdbcType="VARCHAR" property="nextstep" />
    <result column="NEXTSTEPTIME" jdbcType="TIMESTAMP" property="nextsteptime" />
    <result column="HAVETIME" jdbcType="TIMESTAMP" property="havetime" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="LEADNOTE" jdbcType="VARCHAR" property="leadnote" />
  </resultMap>
  <sql id="Base_Column_List">
    LEADSID, OWNERUSERID, CREATORUSERID, NAME, POSITION, CONTACTSNAME, SALTNAME, MOBILE, 
    EMAIL, CREATETIME, UPDATETIME, ISDELETED, DELETEUSERID, DELETETIME, ISTRANSFORMED, 
    TRANSFORMUSERID, CONTACTSID, CUSTOMERID, BUSINESSID, NEXTSTEP, NEXTSTEPTIME, HAVETIME, 
    ADDRESS, SOURCE, LEADNOTE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_CRM_LEADS
    where LEADSID = #{leadsid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_CRM_LEADS
    where LEADSID = #{leadsid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.crm.manager.entity.Leads">
  <selectKey keyProperty="LEADSID" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_LEADS (LEADSID, OWNERUSERID, CREATORUSERID, 
      NAME, POSITION, CONTACTSNAME, 
      SALTNAME, MOBILE, EMAIL, 
      CREATETIME, UPDATETIME, ISDELETED, 
      DELETEUSERID, DELETETIME, ISTRANSFORMED, 
      TRANSFORMUSERID, CONTACTSID, CUSTOMERID, 
      BUSINESSID, NEXTSTEP, NEXTSTEPTIME, 
      HAVETIME, ADDRESS, SOURCE, 
      LEADNOTE)
    values (#{leadsid,jdbcType=VARCHAR}, #{owneruserid,jdbcType=VARCHAR}, #{creatoruserid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{contactsname,jdbcType=VARCHAR}, 
      #{saltname,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{isdeleted,jdbcType=DECIMAL}, 
      #{deleteuserid,jdbcType=VARCHAR}, #{deletetime,jdbcType=TIMESTAMP}, #{istransformed,jdbcType=DECIMAL}, 
      #{transformuserid,jdbcType=VARCHAR}, #{contactsid,jdbcType=VARCHAR}, #{customerid,jdbcType=VARCHAR}, 
      #{businessid,jdbcType=VARCHAR}, #{nextstep,jdbcType=VARCHAR}, #{nextsteptime,jdbcType=TIMESTAMP}, 
      #{havetime,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{leadnote,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.crm.manager.entity.Leads">
  <selectKey keyProperty="LEADSID" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_LEADS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="leadsid != null">
        LEADSID,
      </if>
      <if test="owneruserid != null">
        OWNERUSERID,
      </if>
      <if test="creatoruserid != null">
        CREATORUSERID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="contactsname != null">
        CONTACTSNAME,
      </if>
      <if test="saltname != null">
        SALTNAME,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="isdeleted != null">
        ISDELETED,
      </if>
      <if test="deleteuserid != null">
        DELETEUSERID,
      </if>
      <if test="deletetime != null">
        DELETETIME,
      </if>
      <if test="istransformed != null">
        ISTRANSFORMED,
      </if>
      <if test="transformuserid != null">
        TRANSFORMUSERID,
      </if>
      <if test="contactsid != null">
        CONTACTSID,
      </if>
      <if test="customerid != null">
        CUSTOMERID,
      </if>
      <if test="businessid != null">
        BUSINESSID,
      </if>
      <if test="nextstep != null">
        NEXTSTEP,
      </if>
      <if test="nextsteptime != null">
        NEXTSTEPTIME,
      </if>
      <if test="havetime != null">
        HAVETIME,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="leadnote != null">
        LEADNOTE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="leadsid != null">
        #{leadsid,jdbcType=VARCHAR},
      </if>
      <if test="owneruserid != null">
        #{owneruserid,jdbcType=VARCHAR},
      </if>
      <if test="creatoruserid != null">
        #{creatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="contactsname != null">
        #{contactsname,jdbcType=VARCHAR},
      </if>
      <if test="saltname != null">
        #{saltname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null">
        #{isdeleted,jdbcType=DECIMAL},
      </if>
      <if test="deleteuserid != null">
        #{deleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null">
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="istransformed != null">
        #{istransformed,jdbcType=DECIMAL},
      </if>
      <if test="transformuserid != null">
        #{transformuserid,jdbcType=VARCHAR},
      </if>
      <if test="contactsid != null">
        #{contactsid,jdbcType=VARCHAR},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="businessid != null">
        #{businessid,jdbcType=VARCHAR},
      </if>
      <if test="nextstep != null">
        #{nextstep,jdbcType=VARCHAR},
      </if>
      <if test="nextsteptime != null">
        #{nextsteptime,jdbcType=TIMESTAMP},
      </if>
      <if test="havetime != null">
        #{havetime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="leadnote != null">
        #{leadnote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.crm.manager.entity.Leads">
    update TB_CRM_LEADS
    <set>
      <if test="owneruserid != null">
        OWNERUSERID = #{owneruserid,jdbcType=VARCHAR},
      </if>
      <if test="creatoruserid != null">
        CREATORUSERID = #{creatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="contactsname != null">
        CONTACTSNAME = #{contactsname,jdbcType=VARCHAR},
      </if>
      <if test="saltname != null">
        SALTNAME = #{saltname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdeleted != null">
        ISDELETED = #{isdeleted,jdbcType=DECIMAL},
      </if>
      <if test="deleteuserid != null">
        DELETEUSERID = #{deleteuserid,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null">
        DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="istransformed != null">
        ISTRANSFORMED = #{istransformed,jdbcType=DECIMAL},
      </if>
      <if test="transformuserid != null">
        TRANSFORMUSERID = #{transformuserid,jdbcType=VARCHAR},
      </if>
      <if test="contactsid != null">
        CONTACTSID = #{contactsid,jdbcType=VARCHAR},
      </if>
      <if test="customerid != null">
        CUSTOMERID = #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="businessid != null">
        BUSINESSID = #{businessid,jdbcType=VARCHAR},
      </if>
      <if test="nextstep != null">
        NEXTSTEP = #{nextstep,jdbcType=VARCHAR},
      </if>
      <if test="nextsteptime != null">
        NEXTSTEPTIME = #{nextsteptime,jdbcType=TIMESTAMP},
      </if>
      <if test="havetime != null">
        HAVETIME = #{havetime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        SOURCE = #{source,jdbcType=VARCHAR},
      </if>
      <if test="leadnote != null">
        LEADNOTE = #{leadnote,jdbcType=VARCHAR},
      </if>
    </set>
    where LEADSID = #{leadsid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.crm.manager.entity.Leads">
    update TB_CRM_LEADS
    set OWNERUSERID = #{owneruserid,jdbcType=VARCHAR},
      CREATORUSERID = #{creatoruserid,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=VARCHAR},
      CONTACTSNAME = #{contactsname,jdbcType=VARCHAR},
      SALTNAME = #{saltname,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      ISDELETED = #{isdeleted,jdbcType=DECIMAL},
      DELETEUSERID = #{deleteuserid,jdbcType=VARCHAR},
      DELETETIME = #{deletetime,jdbcType=TIMESTAMP},
      ISTRANSFORMED = #{istransformed,jdbcType=DECIMAL},
      TRANSFORMUSERID = #{transformuserid,jdbcType=VARCHAR},
      CONTACTSID = #{contactsid,jdbcType=VARCHAR},
      CUSTOMERID = #{customerid,jdbcType=VARCHAR},
      BUSINESSID = #{businessid,jdbcType=VARCHAR},
      NEXTSTEP = #{nextstep,jdbcType=VARCHAR},
      NEXTSTEPTIME = #{nextsteptime,jdbcType=TIMESTAMP},
      HAVETIME = #{havetime,jdbcType=TIMESTAMP},
      ADDRESS = #{address,jdbcType=VARCHAR},
      SOURCE = #{source,jdbcType=VARCHAR},
      LEADNOTE = #{leadnote,jdbcType=VARCHAR}
    where LEADSID = #{leadsid,jdbcType=VARCHAR}
  </update>
</mapper>