<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidi.crm.manager.mapper.ProductCategoryMapper">
  <resultMap id="BaseResultMap" type="com.zhidi.crm.manager.entity.ProductCategory">
    <id column="CATEGORYID" jdbcType="VARCHAR" property="categoryid" />
    <result column="PARENTID" jdbcType="VARCHAR" property="parentid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    CATEGORYID, PARENTID, NAME, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_CRM_PRODUCT_CATEGORY
    where CATEGORYID = #{categoryid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_CRM_PRODUCT_CATEGORY
    where CATEGORYID = #{categoryid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.crm.manager.entity.ProductCategory">
  <selectKey keyProperty="CATEGORYID" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_PRODUCT_CATEGORY (CATEGORYID, PARENTID, NAME, 
      DESCRIPTION)
    values (#{categoryid,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.crm.manager.entity.ProductCategory">
  <selectKey keyProperty="CATEGORYID" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_PRODUCT_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryid != null">
        CATEGORYID,
      </if>
      <if test="parentid != null">
        PARENTID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryid != null">
        #{categoryid,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.crm.manager.entity.ProductCategory">
    update TB_CRM_PRODUCT_CATEGORY
    <set>
      <if test="parentid != null">
        PARENTID = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where CATEGORYID = #{categoryid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.crm.manager.entity.ProductCategory">
    update TB_CRM_PRODUCT_CATEGORY
    set PARENTID = #{parentid,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where CATEGORYID = #{categoryid,jdbcType=VARCHAR}
  </update>
</mapper>