<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidi.crm.manager.mapper.SmsRecordMapper">
  <resultMap id="BaseResultMap" type="com.zhidi.crm.manager.entity.SmsRecord">
    <id column="SMSRECORDID" jdbcType="VARCHAR" property="smsrecordid" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="SENDTIME" jdbcType="TIMESTAMP" property="sendtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zhidi.crm.manager.entity.SmsRecord">
    <result column="RECORDCONTENT" jdbcType="BLOB" property="recordcontent" />
  </resultMap>
  <sql id="Base_Column_List">
    SMSRECORDID, USERID, TELEPHONE, SENDTIME
  </sql>
  <sql id="Blob_Column_List">
    RECORDCONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from TB_CRM_SMS_RECORD
    where SMSRECORDID = #{smsrecordid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_CRM_SMS_RECORD
    where SMSRECORDID = #{smsrecordid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.crm.manager.entity.SmsRecord">
  <selectKey keyProperty="SMSRECORDID" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_SMS_RECORD (SMSRECORDID, USERID, TELEPHONE, 
      SENDTIME, RECORDCONTENT)
    values (#{smsrecordid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{sendtime,jdbcType=TIMESTAMP}, #{recordcontent,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.crm.manager.entity.SmsRecord">
  <selectKey keyProperty="SMSRECORDID" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_SMS_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="smsrecordid != null">
        SMSRECORDID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="sendtime != null">
        SENDTIME,
      </if>
      <if test="recordcontent != null">
        RECORDCONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="smsrecordid != null">
        #{smsrecordid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordcontent != null">
        #{recordcontent,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.crm.manager.entity.SmsRecord">
    update TB_CRM_SMS_RECORD
    <set>
      <if test="userid != null">
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        SENDTIME = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordcontent != null">
        RECORDCONTENT = #{recordcontent,jdbcType=BLOB},
      </if>
    </set>
    where SMSRECORDID = #{smsrecordid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zhidi.crm.manager.entity.SmsRecord">
    update TB_CRM_SMS_RECORD
    set USERID = #{userid,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      SENDTIME = #{sendtime,jdbcType=TIMESTAMP},
      RECORDCONTENT = #{recordcontent,jdbcType=BLOB}
    where SMSRECORDID = #{smsrecordid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.crm.manager.entity.SmsRecord">
    update TB_CRM_SMS_RECORD
    set USERID = #{userid,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      SENDTIME = #{sendtime,jdbcType=TIMESTAMP}
    where SMSRECORDID = #{smsrecordid,jdbcType=VARCHAR}
  </update>
</mapper>