<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidi.crm.manager.mapper.SmsTemplateMapper">
  <resultMap id="BaseResultMap" type="com.zhidi.crm.manager.entity.SmsTemplate">
    <id column="TEMPLATEID" jdbcType="VARCHAR" property="templateid" />
    <result column="TEMPLATECODE" jdbcType="VARCHAR" property="templatecode" />
    <result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
    <result column="TEMPLATECONTENT" jdbcType="VARCHAR" property="templatecontent" />
    <result column="ORDERID" jdbcType="VARCHAR" property="orderid" />
  </resultMap>
  <sql id="Base_Column_List">
    TEMPLATEID, TEMPLATECODE, SUBJECT, TEMPLATECONTENT, ORDERID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_CRM_SMS_TEMPLATE
    where TEMPLATEID = #{templateid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_CRM_SMS_TEMPLATE
    where TEMPLATEID = #{templateid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhidi.crm.manager.entity.SmsTemplate">
  <selectKey keyProperty="TEMPLATEID" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_SMS_TEMPLATE (TEMPLATEID, TEMPLATECODE, SUBJECT, 
      TEMPLATECONTENT, ORDERID)
    values (#{templateid,jdbcType=VARCHAR}, #{templatecode,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, 
      #{templatecontent,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidi.crm.manager.entity.SmsTemplate">
  <selectKey keyProperty="TEMPLATEID" resultType="java.lang.String" order="BEFORE">
    select sys_guid() from dual
  </selectKey>
    insert into TB_CRM_SMS_TEMPLATE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templateid != null">
        TEMPLATEID,
      </if>
      <if test="templatecode != null">
        TEMPLATECODE,
      </if>
      <if test="subject != null">
        SUBJECT,
      </if>
      <if test="templatecontent != null">
        TEMPLATECONTENT,
      </if>
      <if test="orderid != null">
        ORDERID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templateid != null">
        #{templateid,jdbcType=VARCHAR},
      </if>
      <if test="templatecode != null">
        #{templatecode,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="templatecontent != null">
        #{templatecontent,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidi.crm.manager.entity.SmsTemplate">
    update TB_CRM_SMS_TEMPLATE
    <set>
      <if test="templatecode != null">
        TEMPLATECODE = #{templatecode,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        SUBJECT = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="templatecontent != null">
        TEMPLATECONTENT = #{templatecontent,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null">
        ORDERID = #{orderid,jdbcType=VARCHAR},
      </if>
    </set>
    where TEMPLATEID = #{templateid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidi.crm.manager.entity.SmsTemplate">
    update TB_CRM_SMS_TEMPLATE
    set TEMPLATECODE = #{templatecode,jdbcType=VARCHAR},
      SUBJECT = #{subject,jdbcType=VARCHAR},
      TEMPLATECONTENT = #{templatecontent,jdbcType=VARCHAR},
      ORDERID = #{orderid,jdbcType=VARCHAR}
    where TEMPLATEID = #{templateid,jdbcType=VARCHAR}
  </update>
</mapper>